* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: linear-gradient(to right, #028802, #e93904, #ffd000);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url(img/copa-do-mundo-da-fifa-1300x731.jpg);
    background-size: cover;
}

p {
    font-size: 50px;
}

.letra {
    color: black;
    background: linear-gradient(to right, #e93904, #ffd000);
    margin: 3px;
}
.numero {
    color: black;
    background-color: green;
    margin: 1px;
}