.mudar{
    color: green;
    background-color: aqua;
    font-size: 15px;
}

.item{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 5px;
}

.troca{
    background-color: yellow;
    color: blue;
}